* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #666666;
}

body {
  width: 100%;
}

.wrapper {
  width: 100%;
  background: #fff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1170px;
  height: 100%;
  margin: auto;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

.scroll__top {
  width: 45px;
  height: 45px;
  background: #eddd5e;
  position: fixed;
  bottom: 4%;
  right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  display: none;
  animation: scroll 0.5s linear;
}
@keyframes scroll {
  0% {
    right: -1%;
    opacity: 0;
  }
  100% {
    right: 2%;
    opacity: 1;
  }
}
.scroll__top i {
  font-size: 20px;
  color: #fff;
}

.pro {
  margin-top: 50px;
}

.header {
  width: 100%;
}
.header__main {
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.header__main--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.header__main--email, .header__main--phone {
  margin: 5px 0px;
}
.header__main--email i, .header__main--phone i {
  font-size: 18px;
  margin-right: 5px;
}
.header__main--email a, .header__main--phone a {
  transition: 0.2s linear;
}
.header__main--email:hover > a, .header__main--phone:hover > a {
  color: #eddd5e;
}
.header__main--phone i {
  transform: rotate(-30deg);
}
.header__main--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s linear;
}
.header__main--logo img {
  width: 200px;
  height: 85%;
  cursor: pointer;
}
.header__main--infor {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__main--infor .facebook, .header__main--infor .google, .header__main--infor .youtube {
  margin: 0px 10px;
  width: 45px;
  height: 45px;
  background: #f5f0e9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s linear;
}
.header__main--infor .facebook i, .header__main--infor .google i, .header__main--infor .youtube i {
  color: #666666;
  font-size: 16px;
  transition: 0.2s linear;
}
.header__main--infor .facebook:hover, .header__main--infor .google:hover, .header__main--infor .youtube:hover {
  background: #eddd5e;
}
.header__main--infor .facebook:hover > i, .header__main--infor .google:hover > i, .header__main--infor .youtube:hover > i {
  color: #fff;
  font-size: 18px;
}
.header__menu {
  padding: 0px 50px;
  margin: 20px 0px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 100%;
  height: 50px;
  transition: 0.3s linear;
}
.header__list {
  height: 100%;
  background-color: #eddd5e;
  padding-left: 10px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}
.header__list a {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__list a img {
  width: 20px;
  margin-right: 10px;
}
.header__list a span {
  font-size: 15px;
}
.header__list .navlist {
  z-index: 10;
  width: 100%;
  height: 550px;
  max-height: 0px;
  position: absolute;
  top: 50px;
  transition: 0.5s linear;
  left: 0px;
  background: #fff;
  border: 0.5px solid #ddd;
  border-top: none;
  border-bottom: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.header__list .navlist li {
  width: 100%;
  height: 100%;
  color: #111;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__list .navlist li a {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 600;
  transition: 0.2s linear;
}
.header__list .navlist li:hover > a {
  color: #eddd5e;
}
.header .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .navbar > li {
  width: 100%;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s linear;
  position: relative;
  transition: 0.2s linear;
}
.header .navbar > li > a {
  width: 100%;
  border-radius: 10px;
  padding: 15px 10px;
  text-align: center;
  color: #111;
  z-index: 1;
}
.header .navbar > li::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  height: 100%;
  border-radius: 8px;
  background: #eddd5e;
  transition: 0.3s linear;
  opacity: 0;
}
.header .navbar > li:hover::before {
  width: 100%;
  opacity: 1;
}
.header--search {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header--search i {
  font-size: 20px;
}
.header .input_search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: 0.3s linear;
  z-index: 999;
}
.header .input_search input {
  width: 600px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0px 20px;
  padding-right: 40px;
  font-size: 16px;
}
.header .input_search i {
  font-size: 25px;
  color: #111;
  margin-left: -40px;
}
.header .input_search .close {
  position: absolute;
  top: 10%;
  right: 10%;
  color: #fff;
}
.header .input_search .close:hover {
  color: #eddd5e;
}

.icon_menu {
  display: none;
  justify-content: center;
  align-items: center;
  color: #111;
  margin: 0px 20px;
}
.icon_menu i {
  font-size: 20px;
}

#close_menu {
  display: none;
}

@media screen and (max-width: 1169px) {
  .header__main {
    padding: 0px 50px;
  }

  .header__list a img {
    width: 18px;
  }
  .header__list a span {
    font-size: 14px;
  }

  .header .navbar > li {
    height: 80%;
  }

  .header__list .navlist li a {
    font-size: 13px;
  }

  .header .navbar > li > a {
    padding: 0px;
  }

  .header .navbar > li > a, .header__main--email a, .header__main--phone a {
    font-size: 15px;
  }

  .header--search i {
    font-size: 20px;
  }

  .header__main--email i, .header__main--phone i {
    font-size: 16px;
  }

  .header__menu {
    grid-template-columns: 200px 3fr 1fr;
  }
}
@media screen and (max-width: 999px) {
  .header__menu {
    padding: 0px;
    margin-bottom: 0px;
    background: #eddd5e;
  }

  .header .navbar {
    position: fixed;
    top: 0px;
    right: -100%;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
    z-index: 999;
    padding: 8% 0px;
    border-left: 1px solid #ddd;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    transition: 0.5s linear;
  }
  .header .navbar li {
    width: 70%;
    height: auto;
    padding: 15px 0px;
  }
  .header .navbar li a {
    font-size: 18px;
  }

  #close_menu {
    display: block;
    position: absolute;
    top: 3%;
    right: 10%;
    color: #111;
    font-size: 25px;
    cursor: pointer;
  }

  .icon_menu {
    display: flex;
    cursor: pointer;
  }
  .icon_menu i {
    font-size: 25px;
  }

  .header__menu {
    grid-template-columns: 200px 1fr 50px;
  }

  .header__list {
    width: 200px;
  }

  .header--search {
    justify-content: flex-end;
  }

  .header__list .navlist li:last-child {
    border-bottom: none;
  }
}
@media screen and (max-width: 768px) {
  .header__main {
    height: 100px;
  }

  .header__main--logo img {
    width: 150px;
    height: 80%;
    cursor: pointer;
  }

  .header__main--infor .facebook, .header__main--infor .google, .header__main--infor .youtube {
    width: 40px;
    height: 40px;
  }

  .header__main--infor .facebook i, .header__main--infor .google i, .header__main--infor .youtube i {
    font-size: 15px;
  }

  .header .navbar > li > a, .header__main--email a, .header__main--phone a {
    font-size: 14px;
  }

  .header__main--email i, .header__main--phone i {
    font-size: 15px;
  }

  .header__menu {
    height: 40px;
  }

  .header__list .navlist {
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }

  .input_search_mb input {
    height: 40px;
  }
}
@media screen and (max-width: 678px) {
  .header__main--left, .header__main--infor {
    display: none;
  }

  .header__main {
    grid-template-columns: 1fr;
  }
  .header__main img {
    height: 100%;
  }

  .header__menu {
    margin-bottom: 0px;
  }

  .header__list .navlist {
    top: 40px;
  }

  .header .input_search input {
    width: 80%;
    height: 45px;
    font-size: 15px;
  }

  .header .input_search i {
    font-size: 20px;
    color: #111;
    margin-left: -30px;
  }
}
@media screen and (max-width: 480px) {
  .header__menu {
    padding: 0px;
  }
}
.banner {
  width: 100%;
  height: 500px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next {
  position: absolute;
  right: 2%;
}

.swiper-button-prev {
  position: absolute;
  left: 2%;
}

@media screen and (max-width: 999px) {
  .banner {
    width: 100%;
    height: 350px;
  }
}
@media screen and (max-width: 480px) {
  .banner {
    height: 200px;
  }
}
.caption {
  width: 100%;
  padding: 50px 0px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0px 20px 15px #eee;
  margin-bottom: 50px;
}
.caption--logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.caption--logo img {
  object-fit: cover;
}
.caption--content h3 {
  font-size: 30px;
  font-weight: 700;
  color: #eddd5e;
  padding: 20px 0px;
}
.caption--content p {
  font-size: 20px;
}
.caption--content span {
  display: block;
  font-size: 18px;
  padding: 10px 0px;
}
.caption--content span b {
  font-weight: 600;
}

@media screen and (max-width: 1169px) {
  .caption {
    padding: 50px;
  }

  .caption--content h3 {
    font-size: 28px;
  }

  .caption--content p {
    font-size: 19px;
  }

  .caption--content span {
    font-size: 17px;
  }

  .caption--logo img {
    width: 85%;
  }
}
@media screen and (max-width: 999px) {
  .caption--logo img {
    width: 80%;
  }

  .caption--content h3 {
    font-size: 26px;
  }

  .caption--content p {
    font-size: 17px;
  }

  .caption--content span {
    font-size: 16px;
  }

  .caption--logo {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .caption--logo {
    display: none;
  }

  .caption {
    grid-template-columns: 1fr;
  }

  .caption--content {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .caption--content h3 {
    font-size: 24px;
  }

  .caption--content p, .caption--content span {
    font-size: 15px;
  }

  .caption {
    padding: 40px 20px;
  }
}
.products {
  width: 100%;
}
.products .bon_rua_mat {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
}
.products__title {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background: #eddd5e;
  transition: 0.2s linear;
  border-radius: 8px;
}
.products__title h3 {
  font-size: 23px;
  color: #111;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.2s linear;
}
.products__title > button {
  background: transparent;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s linear;
}
.products__title > button i {
  transition: 0.2s linear;
}
.products__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.products__main {
  width: 23%;
  height: 380px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.2s linear;
}
.products__main:hover {
  box-shadow: 10px 10px 15px #eee, -10px 10px 15px #eee;
}
.products__main > img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}
.products__main--title {
  padding: 10px 10px;
}
.products__main--title h3 {
  padding: 10px 0px;
  font-weight: 600;
  font-size: 20px;
  transition: 0.2s linear;
}
.products__main--title h3:hover {
  color: #eddd5e;
}
.products__main--title span {
  font-size: 20px;
  color: black;
}

@media screen and (max-width: 1169px) {
  .products {
    padding: 0px 50px;
  }

  .products__main--title h3, .products__main--title span {
    font-size: 18px;
  }

  .products__main--title span {
    height: 330px;
  }

  .products__title h3 {
    font-size: 20px;
  }

  .products__title > button {
    font-size: 15px;
  }
  .products__title > button i {
    font-size: 12px;
  }
}
@media screen and (max-width: 999px) {
  .products__main {
    height: 320px;
  }

  .products__main > img {
    height: 70%;
  }

  .products__main--title h3, .products__main--title span {
    font-size: 16px;
  }
}
@media screen and (max-width: 799px) {
  .products {
    padding: 0px 20px;
  }

  .products__main {
    width: 31%;
  }

  .products .bon_rua_mat {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 667px) {
  .products__main {
    width: 46%;
    height: 380px;
    margin-bottom: 40px;
  }

  .products__main > img {
    height: 75%;
  }
}
@media screen and (max-width: 567px) {
  .products__title h3 {
    font-size: 18px;
  }

  .products__title > button {
    font-size: 14px;
  }

  .products__main {
    height: 300px;
  }
}
@media screen and (max-width: 467px) {
  .products__main > img {
    height: 70%;
  }

  .products__title h3 {
    font-size: 16px;
  }
}
@media screen and (max-width: 374px) {
  .products__main {
    width: 90%;
    height: 400px;
    margin: auto;
    margin-bottom: 40px;
  }
}
.footer {
  width: 100%;
  padding: 50px 0px;
  padding-bottom: 0px;
  background: #f5f0e9;
}
.footer__main {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}
.footer__left h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.footer__left ul li {
  padding: 5px 0px;
}
.footer__left ul li a i {
  margin-right: 10px;
}
.footer p {
  border-top: 1px solid #ddd;
  margin-top: 40px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 15px;
}

@media screen and (max-width: 1169px) {
  .footer__main {
    padding: 0px 50px;
    gap: 0px 40px;
  }

  .footer p {
    height: 50px;
    line-height: 50px;
  }
}
@media screen and (max-width: 999px) {
  .footer__left h3 {
    font-size: 16px;
  }
  .footer__left ul > li > a {
    font-size: 15px;
  }

  .footer p {
    font-size: 14px;
  }
}
@media screen and (max-width: 678px) {
  .footer__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .footer__left {
    width: 46%;
    margin-bottom: 40px;
  }

  .footer__left:last-child {
    width: 100%;
    margin-bottom: 0px;
  }

  .footer p {
    height: auto;
    padding: 10px 20px;
    font-size: 13px;
    line-height: 1.5;
  }
}
@media screen and (max-width: 599px) {
  .footer__left {
    width: 100%;
  }
}
.introduce {
  width: 100%;
}
.introduce__contact {
  width: 100%;
  height: 350px;
  position: relative;
}
.introduce__contact img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.introduce__contact--desc {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.introduce__contact--desc h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 10px;
}
.introduce__contact--desc span {
  color: #fff;
  font-size: 18px;
}
.introduce__content {
  width: 100%;
}
.introduce__content h2 {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px 0px;
  font-weight: 700;
  font-size: 40px;
}
.introduce__content .address {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.introduce__content .address__left, .introduce__content .address__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.introduce__content .address__left b, .introduce__content .address__right b {
  font-weight: 700;
}
.introduce__content .address__left span, .introduce__content .address__right span {
  padding: 10px 0px;
}
.introduce__content .address__bottom {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.introduce__content .address__bottom h4 {
  font-size: 16px;
  font-weight: 600;
}
.introduce__content .address__bottom table {
  margin-top: 30px;
  width: 100%;
}
.introduce__content .address__bottom table th, .introduce__content .address__bottom table td {
  height: 40px;
  border: 1px solid #ddd;
}
.introduce__content .address__bottom table th {
  font-weight: 700;
  line-height: 40px;
}
.introduce__content .address__bottom table th:last-child {
  text-align: left;
  padding-left: 10px;
}
.introduce__content .address__bottom table tr td:first-child {
  text-align: center;
}
.introduce__content .address__bottom table tr td:last-child {
  line-height: 40px;
  padding-left: 10px;
}
.introduce__content .main_center_bottom_main {
  margin-top: 50px;
  margin-bottom: 50px;
}
.introduce__content .main_center_bottom_main > h3, .introduce__content .main_center_bottom_main > h4 {
  font-weight: 700;
  padding: 10px 0px;
  line-height: 25px;
}
.introduce__content .main_center_bottom_main > p {
  color: #888888;
  padding: 15px 20px;
}
.introduce__content .main_center_bottom_main .main_center_bottom_footer > h3 {
  font-size: 19px;
  color: black;
  margin-top: 20px;
}

@media screen and (max-width: 1023px) {
  .address {
    padding: 0px 50px;
  }

  .introduce__content .address__left, .introduce__content .address__right {
    width: 45%;
  }
  .introduce__content .address__left span, .introduce__content .address__right span {
    line-height: 1.2;
  }

  .introduce__content h2 {
    font-size: 35px;
  }
}
@media screen and (max-width: 765px) {
  .introduce__contact {
    height: 300px;
  }

  .introduce__content h2 {
    font-size: 30px;
  }

  .address {
    flex-direction: row;
  }

  .introduce__content .address__left, .introduce__content .address__right {
    width: 100%;
  }

  .introduce__content .address__bottom table tr td {
    font-size: 15px;
  }
}
@media screen and (max-width: 649px) {
  .introduce__content h2 {
    font-size: 25px;
  }

  .introduce__content .address__bottom table th {
    font-size: 14px;
  }
  .introduce__content .address__bottom table th:first-child {
    padding: 0px 10px;
  }
}
@media screen and (max-width: 549px) {
  .introduce__content h2 {
    font-size: 22px;
    padding: 0px 50px;
  }

  .introduce__contact {
    height: 200px;
  }
}
.contact {
  width: 100%;
  margin-bottom: 50px;
}
.contact h2 {
  font-size: 40px;
  font-weight: 700;
  margin: 40px 0px;
  margin-bottom: 20px;
  text-align: center;
}
.contact p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
.contact h3 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
  text-transform: uppercase;
}
.contact form {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.contact form input {
  width: 48%;
  height: 40px;
  padding: 0px 15px;
  outline: none;
  margin-bottom: 20px;
}
.contact form input:nth-child(3) {
  width: 100%;
}
.contact form textarea {
  width: 100%;
  padding: 0px 15px;
  padding-top: 15px;
  outline: none;
}

@media screen and (max-width: 1023px) {
  .contact h2 {
    font-size: 35px;
  }

  .contact p {
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .contact h2 {
    font-size: 30px;
    padding: 0px 50px;
  }

  .contact p {
    font-size: 16px;
    line-height: 1.2;
  }
}

/*# sourceMappingURL=style.css.map */
