.banner{
    width:100%;
    height: 500px;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-next{
      position:absolute;
      right:2%;
  }
  .swiper-button-prev{
      position: absolute;
      left:2%;
  }
  @media screen and (max-width:999px) {
    .banner {
      width: 100%;
      height: 350px;
    }
  }
  @media screen and (max-width:480px) {
    .banner{
      height: 200px;
    }
  }