*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color:$gray_dark;
    
}
body{
    width:100%;
    
}
.wrapper{
    width:100%;
    background:$white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    
}
.container{
    max-width:1170px;
    height:100%;
    margin:auto;
}
a{
    text-decoration: none;
}
button{
    border:none;
    outline:none;
}
.scroll__top{
    width:45px;
    height:45px;
    background: $yellow;
    position: fixed;
    bottom: 4%;
    right:2%;
    @include display(center,center);
    cursor: pointer;
    z-index: 10;
    display:none;
    animation: scroll 0.5s linear;
    @keyframes scroll {
        0%{
            right: -1%;
            opacity: 0;
        }
        100%{
            right: 2%;
            opacity: 1;
        }
    }
    i{
        font-size: 20px;
        color:$white;
    }
}
.pro{
    margin-top:50px;
}