.contact{
    width: 100%;
    margin-bottom:50px;
    h2{
        font-size: 40px;
        font-weight: 700;
        margin:40px 0px;
        margin-bottom:20px;
        text-align:center;
    }
    p{
        text-align: center;
        font-size: 20px;
        margin-bottom:20px;
    }
    h3{
        font-size: 30px;
        font-weight: 600;
        text-align:center;
        margin-top:50px;
        text-transform: uppercase;
        
    }
    form{
        width:80%;
        margin:auto;
        margin-top:40px;
        @include display(space-between, center);
        flex-wrap: wrap;
        input{
            width:48%;
            height: 40px;
            padding:0px 15px;
            outline:none;
            margin-bottom:20px;
            &:nth-child(3){
                width:100%;
            }
        }
        textarea{
            width:100%;
            padding:0px 15px;
            padding-top: 15px;
            outline: none;
        }

    }
}
@media screen and (max-width:1023px) {
    .contact h2{
        font-size: 35px;
    }
    .contact p {
        width: 80%;
        margin: auto;
        text-align: center;
        font-size: 18px;
        margin-bottom: 20px
    }
}
@media screen and (max-width:767px) {
    .contact h2{
        font-size: 30px;
        padding:0px 50px;
    }
    .contact p {
        font-size: 16px;
        line-height: 1.2;
    }
}