.caption{
    width:100%;
    padding:50px 0px;
    display:grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0px 20px 15px #eee;;
    margin-bottom:50px;
    &--logo{
        @include display(flex-start, flex-start);
        img{
            object-fit: cover;
        }
    }
    &--content{
        h3{
            font-size: 30px;
            font-weight: 700;
            color: $yellow;
            padding:20px 0px;
        }
        p{
            font-size: 20px;
        }
        span{
            display: block;
            font-size: 18px;
            padding:10px 0px;
            b{
                font-weight: 600
            }
        }
        
    }
}
@media screen and (max-width:1169px) {
    .caption{
        padding:50px;
    }
    .caption--content h3{
        font-size: 28px;
    }
    .caption--content p{
        font-size: 19px;
    }
    .caption--content span{
        font-size: 17px;
    }
    .caption--logo img{
        width:85%;
    }
}
@media screen and (max-width:999px) {
    .caption--logo img{
        width:80%;
    }
    .caption--content h3 {
        font-size: 26px;
    }
    .caption--content p {
        font-size: 17px;
    }
    .caption--content span {
        font-size: 16px;
    }
    .caption--logo{
        justify-content: center;
        align-items:center;
    }
}
@media screen and (max-width:768px) {
    .caption--logo{
        display: none;
    }
    .caption{
        
        grid-template-columns: 1fr;
    }
    .caption--content{
        text-align: center;
    }
}
@media screen and (max-width:480px) {
    .caption--content h3 {
        font-size: 24px;
    }
    .caption--content p, .caption--content span {
        font-size: 15px;
    }
    .caption {
        padding: 40px 20px;
    }
}