.footer{
    width:100%;
    padding:50px 0px;
    padding-bottom:0px;
    background:$gray;
    &__main{
        display:grid;
        grid-template-columns: 1fr 1fr 2fr;
    }
    &__left{
        h3{
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        ul{
            li{
                padding:5px 0px;
                a{
                    i{
                        margin-right:10px;
                    }
                }
            }
        }
    }
    p{
        border-top:1px solid #ddd;
        margin-top:40px;
        width:100%;
        height:60px;
        line-height: 60px;
        text-align:center;
        font-size: 15px;
    }
}
@media screen and (max-width: 1169px) {
    .footer__main{
        padding:0px 50px;
        gap:0px 40px;
    }
    .footer p{
        height:50px;
        line-height: 50px;
    }
}
@media screen and (max-width: 999px) {
    .footer__left {
        h3{
            font-size: 16px;
        }
        ul > li > a{
            font-size: 15px;
        }
    }
    .footer p{
        font-size: 14px;
    }
}
@media screen and (max-width: 678px) {
    .footer__main{
        @include display (space-between, flex-start);
        flex-wrap: wrap;
    }
    .footer__left{
        width:46%;
        margin-bottom:40px;
    }
    .footer__left:last-child{
        width:100%;
        margin-bottom: 0px;
    }
    .footer p{
        height: auto;
        padding:10px 20px;
        font-size: 13px;
        line-height:1.5;
    }
}
@media screen and (max-width:599px) {
    .footer__left{
        width:100%;
    }
}