.header{
    width:100%;
    &__main{
        width:100%;
        height: 150px;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        &--left{
            
            @include display_dir(center, flex-start);
            flex-wrap: wrap;
        }
        &--email, &--phone{
            margin:5px 0px;
            i{
                font-size: 18px;
                margin-right:5px;
            }
            a{
                transition: 0.2s linear;
            }
            &:hover > a{
                color: $yellow;
            }
        }
        &--phone{
            i{
                transform: rotate(-30deg);
            }
        }
        &--logo{
            @include display(center, center);
            transition:0.3s linear;
            img{
                width: 200px;
                height:85%;
                cursor: pointer;
            }
        }
        &--infor{
            @include display(flex-end,center);
            .facebook, .google, .youtube{
                margin:0px 10px;
                width:45px;
                height:45px;
                background: $gray;
                border-radius:50%;
                @include display(center,center);
                cursor: pointer;
                transition:0.2s linear;
                i{
                    color:$gray_dark;
                    font-size: 16px;
                    transition:0.2s linear;
                }
                &:hover{
                    background:$yellow;
                }
                &:hover > i{
                    color: $white;
                    font-size: 18px;
                }
            }
        }
    }
    &__menu{
        padding:0px 50px;
        margin:20px 0px;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        width:100%;
        height: 50px;
        transition: 0.3s linear;
    }
    &__list{
        height: 100%;
       background-color: $yellow;
       padding-left:10px;
       font-weight: 600;
       @include display_dir(flex-start, flex-start);
       position: relative;
        a{
            height:100%;
            @include display(flex-start, center);
            
            img{
                width:20px;
                
                margin-right:10px;
            }
            span{
                font-size: 15px;
            }
        }
        .navlist{
            z-index: 10;
            width:100%;
            height:550px;
            max-height:0px;
            position:absolute;
            top:50px;
            transition: 0.5s linear;
            left:0px;
            background:$white;
            border:0.5px solid #ddd;
            border-top:none;
            border-bottom:none;
            box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
            overflow: hidden;
            @include display_dir(flex-start, flex-start);
            li{
                width:100%;
                height: 100%;
                color:$black;
                border-bottom:1px solid #ddd;
                cursor: pointer;
                padding:0px 20px;
                @include display(center, center);
                a{
                    width:100%;
                    height:100%;
                    font-size: 14px;
                    font-weight: 600;
                    transition: 0.2s linear;
                }
                &:hover > a{
                    color:$yellow;
                }
                
            }
        }
    }
    .navbar{
        
        @include display(center, center);
        & > li{
            width:100%;
            margin:0px 10px;
            @include display(center, center);
            transition:0.2s linear;
            position:relative;
            transition: 0.2s linear;
            & > a{
               width:100%;
               border-radius:10px;
               padding:15px 10px;
               text-align: center;
               color:$black;
               z-index: 1;
               
            }
            
            &::before{
                content:'';
                position: absolute;
                top:0px;
                left:50%;
               transform:translate(-50%);
                width: 50%;
                height:100%;
                border-radius: 8px;
                background: $yellow;
                transition: 0.3s linear;
                opacity: 0;
            }
            &:hover::before{
                width:100%;
                opacity: 1;
            }
            
            
            // &:first-child > a{
            //     background:$yellow;
            // }

            // &:hover:not(li:first-child){
            //     background: $yellow;
            //     border-radius:10px;
            // }
            
        }
    }
    &--search{
        @include display(center, center);
        cursor: pointer;
        i{
            font-size: 20px;
        }
    }
    .input_search{
        position: fixed;
        top:0px;
        left:0px;
        width:100%;
        height: 100%;
        background: rgba(0,0,0,0.8);
        @include display(center, center);
        transform:translateY(-100%);
        transition:0.3s linear;
        z-index: 999;
        input{
            width:600px;
            height:50px;
            border:none;
            outline:none;
            border-radius: 10px;
            padding:0px 20px;
            padding-right:40px;
            font-size: 16px;
        }
        i{
            font-size: 25px;
            color:$black;
            margin-left:-40px;
        }
        .close{
            position:absolute;
            top:10%;
            right:10%;
            color:$white;
            &:hover{
                color:$yellow;
            }
        }
    }
}
// menu
.icon_menu{
    display: none;
    justify-content: center;
    align-items: center;
    color:$black;
    margin:0px 20px;
    i{
        font-size: 20px;
    }
}
// close_menu
#close_menu{
    display:none;
}

@media screen and (max-width:1169px) {
    .header__main{
        padding:0px 50px;
    }
    
    .header__list a {
        img{
            width:18px;
        }
        span{
            font-size: 14px;
        } 
    }
    .header .navbar > li{
        height:80%;
    }
    .header__list .navlist li a{
        font-size: 13px;
        
    }
    .header .navbar > li > a{
        padding:0px;
    }
    .header .navbar > li > a, .header__main--email a, .header__main--phone a{
        font-size: 15px;
    }
    .header--search i {
        font-size: 20px;
    }
    .header__main--email i, .header__main--phone i{
        font-size: 16px;
    }
    .header__menu{
        grid-template-columns: 200px 3fr 1fr;
    }
    
}
@media screen and (max-width:999px) {
    .header__menu{
        padding:0px;
        margin-bottom:0px;
        background: $yellow;
    }
    .header .navbar{
        position: fixed;
        top:0px;
        right:-100%;
        width:300px;
        height:100vh;
        @include display_dir(flex-start, center);
        background: $white;
        z-index: 999;
        padding:8% 0px;
        border-left:1px solid #ddd;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        transition: 0.5s linear;
        li{
            width:70%;
            height:auto;
            padding:15px 0px;
            a{
                font-size: 18px;
            }
        }
    }
    #close_menu {
        display: block;
        position: absolute;
        top:3%;
        right:10%;
        color:$black;
        font-size: 25px;
        cursor: pointer;
    }
    .icon_menu{
        display:flex;
        cursor: pointer;
        i{
            font-size: 25px;
        }

    }
    .header__menu{
        grid-template-columns: 200px 1fr 50px;
    }
    .header__list {
        width:200px;
    }
    .header--search{
        justify-content: flex-end;
    }
    .header__list .navlist li:last-child{
        border-bottom: none;
    }
    

    

}
@media screen and (max-width:768px){
    .header__main{
        height:100px;
    }
    .header__main--logo img {
        width: 150px;
        height: 80%;
        cursor: pointer;
    }
    .header__main--infor .facebook, .header__main--infor .google, .header__main--infor .youtube{
        width:40px;
        height:40px;
    }
    .header__main--infor .facebook i, .header__main--infor .google i, .header__main--infor .youtube i{
        font-size: 15px;
    }
    .header .navbar > li > a, .header__main--email a, .header__main--phone a {
        font-size: 14px;
    }
    .header__main--email i, .header__main--phone i {
        font-size: 15px;
    }
    .header__menu{
        height:40px;
    }
    .header__list .navlist{
        border:none;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    }
    .input_search_mb input{
        height:40px;
    }
}
@media screen and (max-width: 678px) {
    .header__main--left, .header__main--infor{
        display: none;
    }
    .header__main{
        grid-template-columns: 1fr;
        img{
            height:100%;
        }
    }
    .header__menu{
        margin-bottom: 0px;
    }
    .header__list .navlist{
        top:40px;
    }
    .header .input_search input{
        width:80%;
        height:45px;
        font-size: 15px;
    }
    .header .input_search i {
        font-size: 20px;
        color: #111;
        margin-left: -30px
    }
}
@media screen and (max-width:480px) {
    .header__menu{
        padding:0px;
    }
}