.introduce{
    width:100%;
    &__contact{
        width:100%;
        height:350px;
        position:relative;
        img{
            position: absolute;
            top:0px;
            left:0px;
            width:100%;
            height:100%;
        }
        &--desc{
            width:100%;
            height:100%;
            position: absolute;
            top:0px;
            left:0px;
            background: rgba($color: #000000, $alpha: 0.5);
            @include display_dir(center, center);
            
            h2{
                color:$white;
                font-size: 30px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                padding:10px;
            }
            span{
                color:$white;
                font-size: 18px;
            }
        }
    }
    &__content{
        width:100%;
       h2{
           margin-top:50px;
           margin-bottom: 20px;
           text-align: center;
           padding:20px 0px;
           font-weight: 700;
           font-size: 40px;
       }
       
       .address{
           width:100%;
           @include display(space-between, center);
           flex-wrap: wrap;
           &__left, &__right{
               width:50%;
               
                @include display_dir(center, flex-start);
                b{
                    font-weight: 700;
                }
                span{
                    padding:10px 0px;
                }
           }
           &__bottom{
               width:100%;
               margin-top:20px;
               margin-bottom:50px;
               @include display_dir(flex-start, flex-start);
               h4{
                   font-size: 16px;
                   font-weight: 600;
               }
               table{
                   margin-top:30px;
                   width:100%;
                    th, td{
                        height:40px;
                        border:1px solid #ddd;

                   }
                   th{
                       font-weight: 700;
                      line-height: 40px;
                      &:last-child{
                          text-align: left;
                          padding-left:10px;
                      }
                   }
                   tr{
                       td{
                           &:first-child{
                               text-align: center;
                           }
                           &:last-child{
                               line-height: 40px;
                               padding-left:10px;
                           }
                       }
                   }
                   
               }
           }
       }
       .main_center_bottom_main{
            margin-top: 50px;
            margin-bottom:50px;
            & > h3, & > h4{
                
                font-weight: 700;
                padding: 10px 0px;
                line-height: 25px;
            }
            & >p{
                color: #888888;
            padding: 15px 20px;
            }
            .main_center_bottom_footer > h3{
                font-size: 19px;
                color: black;
                margin-top: 20px;
            }
        }
    }
}
@media screen and (max-width:1023px) {
    .address{
        padding:0px 50px;
    }
    .introduce__content .address__left, .introduce__content .address__right{
        width:45%;
        span{
            line-height: 1.2;
        }
    }
    .introduce__content h2{
        font-size: 35px;
    }
}
@media screen and (max-width:765px) {
    .introduce__contact {
        height:300px;
    }
    .introduce__content h2{
        font-size: 30px;
    }
    .address{
        flex-direction: row;
    }
    .introduce__content .address__left, .introduce__content .address__right{
        width:100%;
    }
    .introduce__content .address__bottom table tr td{
        font-size: 15px;
    }
}
@media screen and (max-width: 649px) {
    .introduce__content h2{
        font-size: 25px;
    }
    .introduce__content .address__bottom table th{
        font-size: 14px;
        &:first-child{
            padding:0px 10px;
        }
    }

}
@media screen and (max-width:549px) {
    .introduce__content h2{
        font-size: 22px;
        padding:0px 50px;
    }
    .introduce__contact {
        height: 200px
    }

}
