.products{
    width:100%;
    .bon_rua_mat{
        width:100%;
        @include display_dir(flex-start,center);
        margin-bottom:50px;
    }
    &__title{
        width: 100%;
        padding:15px;
        @include display(space-between, center);
        margin-bottom:20px;
        background:$yellow;
        transition: 0.2s linear;
        border-radius:8px;
        h3{
            font-size: 23px;
            color:$black;
            font-weight:600;
            text-transform: uppercase;
            transition: 0.2s linear;
        }
        & > button{
            background:transparent;
            font-size: 16px;
            cursor: pointer;
            transition: 0.2s linear;
            i{
                transition: 0.2s linear;
            }
            
        }
    }
    &__content{
        width:100%;
        @include display(space-between, center);
        flex-wrap: wrap;
    }
    &__main{
        width: 23%;
        height:380px;
        cursor: pointer;
        margin-bottom:20px;
        transition: 0.2s linear;
        &:hover{
            box-shadow: 10px 10px 15px #eee,
                        -10px 10px 15px #eee;
        }
        & > img{
            width: 100%;
            height:75%;
            object-fit: cover;
        }
        &--title{
            padding:10px 10px;
            h3{
                padding:10px 0px;
                font-weight: 600;
                font-size: 20px;
                transition:0.2s linear;
                &:hover{
                    color:$yellow;
                }
            }
            span{
                font-size: 20px;
                color:black;
            }
        }

    }
}

@media screen and (max-width:1169px) {
    .products{
        padding:0px 50px;
    }
    .products__main--title h3, .products__main--title span{
        font-size: 18px;
    }
    .products__main--title span{
        height:330px;
    }
    .products__title h3 {
        font-size: 20px;
    }
    .products__title > button{
        font-size: 15px;
        i{
            font-size: 12px;
        }
    }
}
@media screen and (max-width:999px) {
    .products__main{
        height: 320px;
    }
    .products__main > img{
        height: 70%;
    }
    .products__main--title h3, .products__main--title span{
        font-size: 16px;
    }
}
@media screen and (max-width:799px) {
    .products{
        padding:0px 20px;
    }
    .products__main {
       width: 31%;
    }
    .products .bon_rua_mat{
        margin-bottom:0px;
    }
}
@media screen and (max-width: 667px) {
    .products__main {
        width: 46%;
        height:380px;
        margin-bottom:40px;
    }
    .products__main > img {
        height: 75%;
    }
}
@media screen and (max-width: 567px) {
    
    .products__title h3 {
        font-size: 18px;
    }
    .products__title > button {
        font-size: 14px;
    }
    .products__main{
        height:300px;
    }
}
@media screen and (max-width:467px){
    .products__main > img {
        height: 70%;
    }
    .products__title h3 {
        font-size: 16px;
    }
}
@media screen and (max-width:374px) {
    .products__main{
        width: 90%;
        height:400px;
        margin:auto;
        margin-bottom:40px;
    }
}