$white:#fff;
$black: #111;
$gray: #f5f0e9;
$gray_dark: #666666;
$dark: #333;
$yellow:#eddd5e;

@mixin  display($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items:  $align;
}
@mixin  display_dir($justify, $align) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
}
@mixin transform{
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
}